<section class="about-us">
   <div class="about-us__container">
      <div class="about-us__description description-about">
         <h2 class="description-about__title title-section">About us</h2>
         <ul class="description-about__list">
            <li class="description-about__item">Welcome to our premium watch collection, where luxury and style meet functionality and precision. Our selection of
            timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll always have a reliable
            and stylish accessory on your wrist.</li>
            <li class="description-about__item">At our premium watch collection, we believe that a watch is more than just a timekeeping device – it's a statement piece
            that reflects your personality and style. So why settle for anything less than the best?</li>
         </ul>
         <a href="" class="description-about__link link-section">View catalog</a>
      </div>
      <div class="about-us__image">
         <img class="about-us__img" src="img/about-us/watch-img.jpg" alt="Watch">
      </div>
   </div>
</section>