<section class="catalog">
   <div class="catalog__container">
      <h2 class="catalog__title title-section title-section_margin">Catalog</h2>
      <ul class="catalog__cards">
         <li class="catalog__card card">
            <a href="#" class="card__link">
               <div class="card__image">
                  <img src="img/catalog/watch-01.png" alt="Watch" class="card__img">
               </div>
               <h3 class="card__title">Garmin Fenix 7X Pro Sapphire Solar</h3>
               <p class="card__price">€500</p>
            </a>
         </li>
         <li class="catalog__card card">
            <a href="#" class="card__link">
               <div class="card__image">
                  <img src="img/catalog/watch-02.png" alt="Watch" class="card__img">
               </div>
               <h3 class="card__title">Garmin Marq Athlete</h3>
               <p class="card__price">€450</p>
            </a>
         </li>
         <li class="catalog__card card">
            <a href="#" class="card__link">
               <div class="card__image">
                  <img src="img/catalog/watch-03.png" alt="Watch" class="card__img">
               </div>
               <h3 class="card__title">Garmin Descent MK1</h3>
               <p class="card__price">€680</p>
            </a>
         </li>
         <li class="catalog__card card">
            <a href="#" class="card__link">
               <div class="card__image">
                  <img src="img/catalog/watch-04.png" alt="Watch" class="card__img">
               </div>
               <h3 class="card__title">Garmin D2 Delta PX</h3>
               <p class="card__price">€380</p>
            </a>
         </li>
         <li class="catalog__card card">
            <a href="#" class="card__link">
               <div class="card__image">
                  <img src="img/catalog/watch-05.png" alt="Watch" class="card__img">
               </div>
               <h3 class="card__title">Garmin Fenix 6 Pro Solar</h3>
               <p class="card__price">€400</p>
            </a>
         </li>
         <li class="catalog__card card">
            <a href="#" class="card__link">
               <div class="card__image">
                  <img src="img/catalog/watch-06.png" alt="Watch" class="card__img">
               </div>
               <h3 class="card__title">Tube Watch S42 Date Steel With Black Case</h3>
               <p class="card__price">€395</p>
            </a>
         </li>
      </ul>
      <div class="catalog__slogan slogan-catalog">
         <p class="slogan-catalog__text">Choose <span class="slogan-catalog__text-dark">your story</span>, making every moment unique. Time is your style, and we reveal it.</p>
         <a href="#contact-us" class="slogan-catalog__link">Contact us</a>
      </div>
   </div>
</section>