<section class="hero">
   <div class="hero__container">
      <div class="hero__content">
         <div class="hero__description">
            <h1 class="hero__title title">Welcome to our <span class="hero__title_blue">collection</span> of premium
               watches</h1>
            <p class="hero__text">Our watches are not just timepieces, but also an expression of your personality and
               lifestyle. From classic designs to
               modern ones, we have a watch to suit every taste and occasion.</p>
         </div>

         <div class="hero__scroll scroll">
            <img class="scroll__img" src="../img/hero/avatars.png" alt="Avatarts" width="108" height="44">
            <a href="#footer" class="scroll__link">Scroll down</a>
         </div>
      </div>

      <picture class="hero__image">
         <source srcset="../img/hero/desktop/watch.jpg, ../img/hero/desktop/watch2x.jpg 2x" media="(min-width: 1280px)">
         <source srcset="../img/hero/tablet/watch.jpg, ../img/hero/tablet/watch2x.jpg 2x" media="(min-width: 768px)">
         <source srcset="../img/hero/mobile/watch.jpg, ../img/hero/mobile/watch2x.jpg 2x" media="(max-width: 767px)">
         <img class="hero__img" src="../img/hero/mobile/watch.jpg" alt="Watch">
      </picture>

   </div>
</section>