<div class="mobile-menu"> <!--add class "is-open" for mobile-munu to appear -->
   <button class="mobile-menu__btn btn-close-menu">
      <svg class="btn-close-menu__icon" width="34" height="34">
         <use href="../img/icons.svg#icon-close"></use>
      </svg>
   </button>
   <nav class="mobile-menu__navigation">
      <ul class="mobile-menu__list">
         <li class="mobile-menu__item"><a href="#home" class="mobile-menu__link current">Home</a></li>
         <li class="mobile-menu__item"><a href="#about-us" class="mobile-menu__link">About us</a></li>
         <li class="mobile-menu__item"><a href="#catalog" class="mobile-menu__link">Catalog</a></li>
         <li class="mobile-menu__item"><a href="#sale" class="mobile-menu__link">Sale</a></li>
         <li class="mobile-menu__item"><a href="#reviews" class="mobile-menu__link">Reviews</a></li>
         <li class="mobile-menu__item"><a href="#contact-us" class="mobile-menu__link">Contact us</a></li>
      </ul>
   </nav>

   <ul class="mobile-menu__social social">
      <li class="social__item">
         <a class="social__link" href="#">
            <svg class="social__icon" width="18" height="18">
               <use href="../img/icons.svg#icon-facebook"></use>
            </svg>
         </a>
      </li>
      <li class="social__item">
         <a class="social__link" href="#">
            <svg class="social__icon" width="18" height="18">
               <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
         </a>
      </li>
      <li class="social__item">
         <a class="social__link" href="#">
            <svg class="social__icon" width="18" height="18">
               <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
         </a>
      </li>
   </ul>
</div>