<section class="sale">
   <div class="sale__container">
      <h2 class="sale__title title-section title-section_margin">Sale</h2>
      <div class="sale__content model-desc">
         <ul class="model-desc__list set-model-photos">
            <li class="set-model-photos__item">
               <div class="set-model-photos__pic">
                  <img class="set-model-photos__img" src="../img/sale/mobile/set-model-photos/01.png" alt="Watch on sale">
               </div>
            </li>
            <li class="set-model-photos__item">
               <div class="set-model-photos__pic">
                  <img class="set-model-photos__img" src="../img/sale/mobile/set-model-photos/02.png" alt="Watch on sale">
               </div>
            </li>
            <li class="set-model-photos__item">
               <div class="set-model-photos__pic">
                  <img class="set-model-photos__img" src="../img/sale/mobile/set-model-photos/03.png" alt="Watch on sale">
               </div>
            </li>
            <li class="set-model-photos__item">
               <div class="set-model-photos__pic">
                  <img class="set-model-photos__img" src="../img/sale/mobile/set-model-photos/04.png" alt="Watch on sale">
               </div>
            </li>
         </ul>


         <div class="model-desc__image">
            <div class="model-desc__pic">
               <img class="model-desc__img" src="../img/sale/mobile/model-photo.png" alt="Photo of watches model">
            </div>
         </div>

         <div class="model-desc__description description-model">
            <div class="description-model__title-block">
               <h3 class="description-model__title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
               <p class="description-model__index">Product tag: 706587</p>
            </div>
            <div class="description-model__price price-model-desc">
               <span class="price-model-desc__actual">€1500</span>
               <span class="price-model-desc__real">€3000</span>
            </div>
            <p class="description-model__text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features
            to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED
            touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
            <ul class="description-model__list-category category-list">
               <li class="category-list__item">Fused carbon fiber</li>
               <li class="category-list__item">Grade-5 Titanuim</li>
               <li class="category-list__item">Athlete</li>
               <li class="category-list__item">Golfer</li>
               <li class="category-list__item">Commander</li>
               <li class="category-list__item">Adventurer</li>
            </ul>
         </div>
      </div>
   </div>
</section>