/* BODY ===============================================*/
body {
   font-family: "Gilroy", sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.28571;
   letter-spacing: -0.02em;
   color: rgba(12, 12, 12, 0.7);
   background: #fbfbfb;
}

@media only screen and (min-width: 768px) {
   body {
      font-size: 16px;
   }
}

*:focus {
   outline: transparent;
}

/* =============================================== /BODY*/


/* Container ============================================ */
[class*="__container"] {
   max-width: 375px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
}

@media only screen and (min-width: 768px) {
   [class*="__container"] {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
   }
}

@media only screen and (min-width: 1280px) {
   [class*="__container"] {
      max-width: 1280px;
      padding-left: 65px;
      padding-right: 65px;
   }
}

/* ============================================ /Container*/


/* Sections-padding ====================================== */
.hero,
.about-us,
.catalog,
.sale,
.reviews,
.contact-us {
   padding-top: 30px;
   padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {

   .hero,
   .about-us,
   .catalog,
   .sale,
   .reviews,
   .contact-us {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}

@media only screen and (min-width: 1280px) {

   .hero .about-us,
   .catalog,
   .sale,
   .reviews,
   .contact-us {
      padding-top: 50px;
      padding-bottom: 50px;
   }
}

/* ====================================== /Sections-padding*/



/* Sections-title ======================================== */
.title-section {
   font-size: 32px;
   line-height: 1;
   color: #0c0c0c;
   text-transform: capitalize;
}

.title-section_margin {
   margin-bottom: 24px;
}


@media only screen and (min-width: 768px) {
   .title-section {
      font-size: 48px;
      line-height: 0.91667;
   }

   .title-section_margin {
      margin-bottom: 40px;
   }
}

/* ======================================== /Sections-title*/



/* Sections-link ======================================== */
.link-section {
   text-align: center;
   color: #fbfbfb;
   background-color: #3350e9;
   border-radius: 16px;

   display: inline-flex;
   justify-content: center;
   align-items: center;

   min-width: 160px;
   padding: 15px;

   transition: background-color 150ms ease-in;
}

.link-section:hover,
.link-section:focus {
   background-color: #1f3cd4;
}

/* ======================================== /Sections-link*/



/* Social ================================================ */
.social {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
}

.social__item {
   flex-shrink: 0;
}

.social__link {
   border: 1px solid rgba(251, 251, 251, 0.1);
   border-radius: 10px;
   width: 34px;
   height: 34px;
   fill: rgba(251, 251, 251, 0.8);

   display: flex;
   align-items: center;
   justify-content: center;
   transition: fill 250ms linear, border-color 250ms linear;
}

.social__link:hover,
.social__link:focus {
   border-color: rgba(251, 251, 251, 0.8);
   fill: rgba(251, 251, 251, 1);
}

@media only screen and (min-width: 768px) {
   .social__link {
      width: 36px;
      height: 36px;
   }

   .social__icon {
      width: 20px;
      height: 20px;
   }
}

/* =============================================== /Social*/